body {
    font-family: 'Libre Baskerville', serif;
}

h1 {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}
/* Home Page */

#header {
    background-color: #effafc;
}

.header-container {
    display: flex;
    align-items: center;
    margin: 0 10%;
}

#header #logo-container {
    max-width: 40%;
    height: auto;
}

#logo-container img {
    width: 100%;
}

#header-title {
    font-size: 80px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

#header-description {
    font-size: 20px;
    font-weight: 400;
    opacity: 75%;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

#recent-reviews {
    padding: 30px 10%;
}

#recent-reviews h3 {
    text-align: center;
    margin-bottom: 35px;
    font-family: 'League Spartan', sans-serif;

}

#recent-reviews-container {
    display: flex;
    gap: 15px;
}

.review-preview {
    width: 25%;
    height: auto;
    padding: 15px;
    background-color: #fff4f2;
    border-radius: 15px;
    text-align: center;
}

.review-preview:hover {
    scale: 1.05;
}

#review-heading {
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;

}

#review-heading span {
    opacity: 75%;
}

#reviewlink {
    display: block;
}

#userlink, #reviewlink:any-link {
    color: black;
    text-decoration: none;
}

#userlink:hover, #reviewlink:hover {
    text-decoration: underline;
}
/* #review {
    padding: 30px 50px;
    margin: 0 5rem;
    border-radius: 15px;
    border: 1px solid #D8D8D8;
    background-color: white;
}


#review-heading-container {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    margin-bottom: 15px;
}


#review-heading span a:any-link {
    color: black;
    text-decoration: none;
}

#review-heading span a:hover {
    text-decoration: underline;
}


 */

@media (max-width: 1000px) {
    #review {
        
        margin: 0 2rem;
    }
    #review-container {
        flex-direction: column;
        justify-content: center;
    }

    #review-date {
        display: none;
    }
}



#review-form, #display-results{
    display: none;
}


/* Sign Up */
.error{
    color: red;
}


/* View book */

#page {
    padding: 50px 250px;
}

.book-view {
    display: flex;
    gap: 35px;
}

#book-heading {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 80px;
}

#book-details {
    flex: 1 1 auto;
    max-width: 70%;
}

#book-details h1, 
#book-details h3 {
    font-family: 'League Spartan', sans-serif;
}

#book-details h1 {
    word-wrap: normal;
    font-size: 44px;
}

#book-details h3 {
    line-height: 23px;
}

#rating-statistics {
    font-size: 22px;
    opacity: 70%;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 25px;
    padding-top: 5px;
    line-height: 24px;
}

#rating-statistics span {
    display: block;
    text-align: center;
}

#book-rating {
    color: #ff764c;
    opacity: 100%;
}

#book-cover {
    flex: 1 1 auto; 
    max-width: 22%; 
    font-size: 18px;
}

#book-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-width: 100%;
    margin-bottom: 15px;
}

#book-description {
    margin: 30px 0;
}

#shelve-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 10px 10px 20px;
    border-radius: 8px;
    border: none;
    font-family: 'League Spartan', sans-serif;
    background-color: #e5e5e5;
    font-size: 20px;
}

#shelve-button-container.shelved, .shelved {
    background-color: #BFEAAA;
}

#shelve-button-container button {
    border: 0;
    background-color: transparent;
}


#custom-shelves {
    margin-left: auto;
    font-size: 14px;
}

#add-to-bookshelf {
    width: 100%;
    height: 100%;
}

#add-to-bookshelf i {
    font-size: 18px;
    margin-right: 5px;
}

#dropdown-menu {
    position: relative;
    background-color: white;
    z-index: 9999;
    display: none;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 1px 1px 5px 2px black;
}

#dropdown-menu button {
    display: block;
}


@keyframes pop-up {
    0% {
        scale: 1;
        rotate: 0;
    }
    100% {
        scale: 1.5;
        transform: rotate(2deg);

    }
}

@keyframes change-button-color {
    0% {
        background-color: #E0E0E0;
    }

    100% {
        background-color: #BFEAAA;
    }
}

#book-reviews {
    margin-top: 50px;
}

.subheading {
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
}

#book-additional-info {
    display: flex;
    gap: 75px;
}

.book-info-label {
    opacity: 70%;
    margin-bottom: 0;

}

.book-info-value {
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}

#rating-section {
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    padding: 2.5px 20px 10px;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    margin: 15px 0;
}

#rating-section span {
    margin: 0;
    font-size: 20px;
    display: block;
}

#rating-container {
    display: flex;
    justify-content: center;
}

.rating-stars {
    font-size: 24px;
}

#book-interactions {
    width: 100%;
}

#review-container {
    margin: auto;
    display: flex;
    gap: 75px;
    padding: 30px 10vw;
}

.user-pfp-preview {
    max-width: 100%;
    border-radius: 8px;
}

#user-preview {
    flex: 0 0 auto;
    display: flex;
    gap: 15px;
    height: fit-content;
    max-width: 30%;
}

#user-pfp-container {
    max-width: 30%;
    height: 100%;
}

#user-name-container {
    align-items: center;
    height: 100%;
}

#user-preview h5 {
    font-family: 'League Spartan', sans-serif;
    font-size: 23px;
    margin: 0;
}

#user-preview span {
    font-family: 'League Spartan', sans-serif;
    display: block;
    font-size: 14px;
    opacity: 75%;
}



#review-content {
    flex: 0 1 auto;
    max-width: 70%;
}

#review-date-rating {
    display: flex;
    gap: 20px;
}

#review-date-rating p {
    opacity: 75%;
}

.error-message{
    color: red;
}


/* Add Review Page */
#book-form{
    padding: 0 20%;
}

#book-form-children{
    display: flex;
    gap: 5px;
}

.button-blue{
    color: white;
    padding: 5px 25px;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
}

#display-results {
    padding: 75px 15% 0;
}

.book-result {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.book-result:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

#result-thumbnail {
    width: 10rem;
    height: auto;
}

#book-title {
    font-family: 'League Spartan', sans-serif;
}

#author-link:any-link {
    color: rgb(33, 37, 41);
    text-decoration: none;
}