body {
    font-family: 'Libre Baskerville', serif;
}

h1 {
    padding: 0;
    margin: 0;
}

/* Home Page */

#header {
    background-color: #effafc;
}

.header-container {
    display: flex;
    align-items: center;
    margin: 0 10%;
}

#header #logo-container {
    max-width: 40%;
    height: auto;
}

#logo-container img {
    width: 100%;
}

#header-title {
    font-size: 80px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

#header-description {
    font-size: 20px;
    font-weight: 400;
    opacity: 75%;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

#recent-reviews {
    padding: 30px 10%;
}

#recent-reviews h3 {
    text-align: center;
    margin-bottom: 25px;
    font-family: 'League Spartan', sans-serif;

}

#recent-reviews-container {
    display: flex;
    gap: 15px;
}

#book-cover img {
    height: 200px;
    width: auto;
    margin-bottom: 12px;
}

.review-preview {
    width: 25%;
    height: auto;
    padding: 15px;
    background-color: #fff4f2;
    border-radius: 15px;
    text-align: center;
}

.review-preview:hover {
    scale: 1.05;
}

#review-heading {
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;

}

#review-heading span {
    opacity: 75%;
}

#reviewlink {
    display: block;
}

#userlink, #reviewlink:any-link {
    color: black;
    text-decoration: none;
}

#userlink:hover, #reviewlink:hover {
    text-decoration: underline;
}
/* #review {
    padding: 30px 50px;
    margin: 0 5rem;
    border-radius: 15px;
    border: 1px solid #D8D8D8;
    background-color: white;
}

#review-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

#review-heading-container {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    margin-bottom: 15px;
}


#review-heading span a:any-link {
    color: black;
    text-decoration: none;
}

#review-heading span a:hover {
    text-decoration: underline;
}

#book-cover img {
    max-width: 200px;
}
 */

@media (max-width: 1000px) {
    #review {
        
        margin: 0 2rem;
    }
    #review-container {
        flex-direction: column;
        justify-content: center;
    }
    #book-cover {
        margin: auto;
    }
    #review-date {
        display: none;
    }
}

.displayEntry{
    display: flex;
}

.displayEntry:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

#review-form, #display-results{
    display: none;
}


/* Sign Up */
.error{
    color: red;
}


/* View book */
#page {
    max-height: 100%;
    padding: 50px 300px;
}

.book-view {
    display: flex;
    gap: 50px;
}

#book-heading {
    display: flex;
    gap: 100px;
    align-items: center;
}

#book-details h1, 
#book-details h3 {
    font-family: 'League Spartan', sans-serif;
}

#book-details h1 {
    font-size: 50px;
}

#book-details h3 {
    line-height: 25px;
}

#book-interactions {
    font-size: 18px;
    opacity: 70%;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    align-items: center;
    gap: 25px;
}

#book-rating {
    color: #ff764c;
    opacity: 100%;
    font-weight: 900;
    font-size: 25px;
}

#book-total-reviews,
#book-total-ratings {
    text-align: center;
}

#book-description {
    margin: 25px 0;
}

#book-cover {
    width: 60%;
    height: auto;
}

#book-cover img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#add-to-books-list {
    width: 100%;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

#add-to-books-list i {
    font-size: 18px;
    margin-right: 5px;
}

@keyframes pop-up {
    0% {
        scale: 1;
        rotate: 0;
    }
    100% {
        scale: 1.5;
        transform: rotate(2deg);

    }
}

@keyframes change-button-color {
    0% {
        background-color: #E0E0E0;
    }

    100% {
        background-color: #BFEAAA;
    }
}

#book-reviews {
    margin-top: 50px;
}

.subheading {
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    font-size: 35px;
}

#book-additional-info {
    display: flex;
    gap: 100px;
}

.book-info-label {
    opacity: 70%;
    margin-bottom: 0;

}

.book-info-value {
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}

#rating-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rating-stars {
    font-size: 28px;
}