{% extends 'template.html' %}
{% block title %}{{ details.title }}{% endblock %}

{% block body %}
<div id="page">
    <div class="book-view">
        <div id="book-cover">
            <img src="{{ details.thumbnail }}" alt="book-cover">
        </div>
        <div id="book-details">
            <h1>{{ details.title }}</h1>
            <h3>by {{ details.author }}</h3>
            <p>{{ details.description }}</p>
            <p>Genres: {{ details.categories }}</p>
            <p>{{ details.pageCount }} pages</p>
        </div>
    </div>
    <div id="book-reviews">
        <h3 class="subheading">Reviews and Ratings</h3>
        {% for review in reviews %}
            <h5>{{ review.first_name }} {{ review.last_name }}</h5>
            <p>{{ review.date_read }}</p>
            <p>{{ review.review }}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}