{% extends 'template.html' %}
{% load static %}
{% block title %}{{ details.title }}{% endblock %}

{% block body %}
<div id="page">
    <div class="book-view">
        <div id="book-cover">
            <img id='book-thumbnail' src="{{ details.thumbnail }}" alt="book-cover">
            {% csrf_token %}
            {% if request.COOKIES.access_token %}
            <div id="book-interactions">
                {% if bookshelf %}
                    <div id="shelve-button-container" class="shelved">
                        <button id="add-to-bookshelf"><i id="bookmark-icon" class="fa-solid fa-bookmark fa-fw"></i>{{ bookshelf.0 }}</button>
                        <button id="custom-shelves"><i class="fa-solid fa-chevron-down"></i></button>
                    </div>
                {% else %}
                    <div id="shelve-button-container">
                        <button id="add-to-bookshelf" data-status=""><i id="bookmark-icon" class="fa-regular fa-bookmark fa-fw"></i>Want to read</button>
                        <button id="custom-shelves"><i class="fa-solid fa-chevron-down"></i></button>
                    </div>
                {% endif %}
                <div id="dropdown-menu" class="hidden" data-shelves="{{ bookshelf }}">
                </div>
                <div id="rating-section" data-rating="{{ user_rating }}">
                    <span>Your rating</span>
                    <div id="rating-container">
                        <i class="fa-solid fa-star rating-stars"></i>
                        <i class="fa-solid fa-star rating-stars"></i>
                        <i class="fa-solid fa-star rating-stars"></i>
                        <i class="fa-solid fa-star rating-stars"></i>
                        <i class="fa-solid fa-star rating-stars"></i>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div id="book-details">
            <div id="book-heading">
                <div>
                    <h1 id="book-title" data-isbn="{{ isbn }}" data-id="{{ book_id }}">{{ details.title }} </h1>
                </div>
                <div id="rating-statistics">
                    <div>
                        <span id="book-rating">{{ book_stats.avg_book_rating }}</span><span>Stars</span>
                    </div>
                    <div>
                        <span class="book-total-ratings">{{ book_stats.num_ratings }}</span><span>Ratings</span>
                    </div>
                    <div>
                        <span class="book-total-reviews">{{ book_stats.num_reviews }}</span><span>Reviews</span>
                    </div>
                </div>
            </div>
            <h3>by <span id="author">{{ details.author }}</span></h3>
            <p id="book-description">{{ details.description }}</p>
            <p>Genres: {{ details.categories }}</p>
            <div id="book-additional-info">
                <div>
                    <p class="book-info-label">Pages</p>
                    <p class="book-info-value">{{ details.pageCount }}</p>
                </div>
                <div>
                    <p class="book-info-label">Publisher</p>
                    <p class="book-info-value">{{ details.publisher }}</p>
                </div>
                <div>
                    <p class="book-info-label">Published on</p>
                    <p class="book-info-value">{{ details.publishedDate}}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="book-reviews">
        <h3 class="subheading">Reviews and Ratings</h3>
        {% if not reviews %}
            <h5>This book hasn't been reviewed yet</h5>
        {% else %}
            {% for review in reviews %}
            <div id="review-container">
                <div id="user-preview">
                    <div id="user-pfp-container">
                        <img class="user-pfp-preview" src="https://wcchn.ca/wp-content/uploads/2022/09/Dr.-Michael-van-Manen.jpg" alt="">
                    </div>
                    <div id="user-name-container">
                        <h5>{{ review.owner.email }}</h5>
                        <span>64 reviews</span>
                        <span>50 followers</span>
                    </div>
                </div>
                <div id="review-content">
                    <div id="review-date-rating">
                        <span>☆☆☆☆☆</span>
                        <p>{{ review.date_read }}</p>
                    </div>
                    <p>{{ review.content }}</p>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <!-- Check if user is logged in -->
        {% if request.COOKIES.access_token %}
            <!-- Allow user to write a review for the opened book -->
            <button id="write-new-review">Write a review</button>
            <div>
                <form id="review-form">
                    <div id="add-review">
                        <h4>Review</h4>
                        <textarea name="" id="review-field" cols="30" rows="10" class="form-control"></textarea>                
                    </div>
                    <div id="add-date-read">
                        <h4>Date Read</h4>
                        <input type="date" name="" id="date-field"> 
                    </div>
                    <input type="submit" class="btn btn-dark" value="Post Review" id="">
                </form> 
            </div>
        {% else %}
            <h5><a href="{% url 'login' %}">Login</a> to review books</h5>
        {% endif %}
    </div>
</div>

<script src="{% static 'book_interactions.js' %}"></script>
<script src="https://kit.fontawesome.com/b1fbfefaf0.js" crossorigin="anonymous"></script>
{% endblock %}