{% extends 'template.html' %}
{% block title %}Home{% endblock%}

{% block body %}
<div class="container">
    <div id="display-posts">
        <h1>Home</h1>
        <div>
            <div id="review-container">
                <h3>Stoyan Kolev reviewed Digital Minimalism: Choosing a Focused Life in a Noisy World</h3>
                <span>28.01.24</span>
                <p>This book is highly readable and deeply provocative for anyone who wishes to achieve balance in their social media use and break their enslavement to the social-validation feedback loop. If you are interested in reducing your reliance on digital devices and lessen social media consumption, keep reading!</p>
                <div id="book-preview">
                    <div id="book-cover">
                        <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1549433350i/40672036.jpg" alt="">
                    </div>
                    <div id="book-details">
                        <h3>Digital Minimalism: Choosing a Focused Life in a Noisy World</h3>
                        <p>by Cal Newport</p>
                        <p>Digital minimalists are all around us. They're the calm, happy people who can hold long conversations without furtive glances at their phones. They can get lost in a good book, a woodworking project, or a leisurely morning run. They can have fun with friends and family without the obsessive urge to document the experience. They stay informed about the news of the day, but don't feel overwhelmed by it. They don't experience "fear of missing out" because they already know which activities provide them meaning and satisfaction.</p>
                    </div>
                </div>


            </div>

        </div>
        <!-- {% for review in reviews %}
            <div>
                {{ review }}
            </div>
        {% endfor %} -->
    </div>
</div>
{% endblock %}