{% extends 'template.html' %}
{% block title %}Home{% endblock%}

{% block body %}
<div class="container">
    <div id="display-posts">
        <h1>Home</h1>
        {% for review in reviews %}
        <div id="review">
            <div id="review-container">
                <div id="book-cover">
                    <a href="">
                        <img src='{{ review.thumbnail }}' alt="">
                    </a>
                </div>
                <div>
                    <div id="review-heading-container">
                        <div id="review-heading">
                            <span><a href="">{{ review.first_name }} {{ review.last_name }}</a></span> reviewed <span><a href="{% url 'display_book' isbn=review.book_reviewed %}">{{ review.title }}</a></span>
                        </div>
                        <span id="review-date">{{ review.created_on }}</span>
                    </div>
                    <p>{{ review.review }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}