{% extends 'template.html' %}
{% load static %}

{% block title %}Add Review{%endblock%}

{% block body %}
    <div class="container">
        <form action="" id="book-form">
            <h1>Add a Review</h1>
            <div id="add-book">
                <h4>Book</h4>
                <input class="form-control" type="text" id="review-book-field">
                <input type="submit" name="" id="review-book-button" value="Search">
            </div>
        </form>
        <div id="display-results">
        </div>   
        <button id="next-button">Next</button>

        <form id="review-form">
            <div id="add-review">
                <h4>Review</h4>
                <textarea name="" id="review-field" cols="30" rows="10" class="form-control"></textarea>                
            </div>
            <div id="add-date-read">
                <h4>Date Read</h4>
                <input type="date" name="" id="date-field"> 
            </div>
            <input type="submit" class="btn btn-dark" value="Post Review" id="">

        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'new_review.js' %}"></script>
{% endblock %}