{% extends 'template.html' %}
{% load static %}

{% block title %}Add Review{%endblock%}

{% block body %}
    <div class="container">
        <div>
            <div class="header-container">
                <div id="logo-container">
                    <img src="{% static 'logos/review_book_page_img.jpg' %}" alt="woman-reading">
                </div>
                <div>
                    <h1 id="header-title">Add a review</h1>
                </div>
            </div>
        </div>
        <form action="" id="book-form">
            {% csrf_token %}
            <div id="book-form-children">
                <input class="form-control" type="text" id="review-book-field" placeholder="Find your book">
                <input type="submit" id="review-book-button" class="button-blue" value="Search">
            </div>
        </form>

        <div id="display-results">
        </div>   
        <button id="next-button" class="button-blue">Next</button>

        <form id="review-form">
            <div id="add-review">
                <h4>Review</h4>
                <textarea name="" id="review-field" cols="30" rows="10" class="form-control"></textarea>                
            </div>
            <div id="add-date-read">
                <h4>Date Read</h4>
                <input type="date" name="" id="date-field"> 
            </div>
            <input type="submit" class="btn btn-dark" value="Post Review" id="">

        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'new_review.js' %}"></script>
{% endblock %}