{% extends '../template.html' %}
{% block title %}User profile{% endblock %}

{% block body %}
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <div>
        <h5 class="subheading">User's Reviews</h5>
        {% for book in reviews %}
        <div>
            <img src="{{ book.thumbnail }}" alt="">
            <a href="{% url 'display_book' isbn=book.isbn %}"><h3>{{ book.title }}</h3></a>
            <p>{{ book.review }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}